.servicemain {
    background-color: black;
  }
  
  .servicemain h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;  
  }
  
  
  span{
    color: white;
  }